SECRET_KEY=AUTO
SECURITY_PASSWODR_SALT=AUTO
V2F=0 # v2f = {0: 'désactivé', 1: 'activable', 2: 'obligatoire'}
INDEPENDENT_REGISTER=True
JWT_SECRET_KEY=AUTO
NEO4J_URI='url of the bd'
NEO4J_USER='username of the bd'
NEO4J_PASSWORD=AUTO
